*{
    colorbase: #3C3F41;
    colormain: #2B2B2B;
   
   
    iconsize: 20px;
    colorbordershadow: transparent;
    colorbaseline: #eee;
    leftpadding: 30px;
    syscolor: #5253BD;
    textcolor: white;
    topbordercolor: #46494B;
     bottomcolor: #46494B;
     coloriconarea: #3C3F41;
    
    
}