*{
    colorbase: #f6f5fb;
    colormain: #fff;
   
    iconsize: 20px;
    colorbordershadow: #f6f8ff;
    colorbaseline: #eee;
    leftpadding: 30px;
    syscolor: #5253BD;
    textcolor: #434343;
    topbordercolor: #eee;
     bottomcolor: #eee;
     coloriconarea: #F6F8FB;
     labelcolor:  #8A8A8A;
     titlelabelcolor: #656565;
     colorbase2:  #F6F8FB;
     colorlabel2: #9BA2AF;
    
    
}
